* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

html {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

/* Navbar */
.NavBar {
  height: 60px;
}

.NavBar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 16px 0 18px;
  height: 100%;
}

.NavBar .container .logo {
  display: flex;
  align-items: center;
}

.NavBar .container .logo-text {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Righteous;
  font-size: 1.27rem;
  line-height: 1.5;
  margin-left: 7px;
}

.NavBar .action {
  display: flex;
  align-items: center;
}

.NavBar .action .notifactions {
  position: relative;
  margin-right: 13px;
}

.NavBar .action .notifactions,
.NavBar .action .profile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #E4E6EB;
  border-radius: 50%;
}

.NavBar .action .notifactions i,
.NavBar .action .profile i {
  font-size: 2em;
  color: #000;
}

.NavBar .action .profile {
  position: relative;
}

.NavBar .action .profile .menu {
  position: absolute;
  top: 50px;
  right: -2px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  background: #F1F2F5;
}

.action .profile .menu {
  display: none !important;
}

.action .profile .menu.active {
  display: block !important;
}

.NavBar .action .profile .menu a {
  display: inline-block;
  padding: 16px 70px;
  font-size: 2rem;
  transition: linear 0.3s;
}

.NavBar .action .profile .menu a:hover {
  background: #D9D9D9;
}

.NavBar .action .profile .menu a:first-child {
  border-bottom: 1px solid #000;
}


.NavBar .notifactions .noti.active:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 15px;
  height: 15px;
  background-color: #f23434;
  border-radius: 50%;
}

.NavBar .notifactions .content {
  display: none;
}

.NavBar .notifactions .message {
  position: absolute;
  top: 66px;
  right: -53px;
  display: flex;
  align-items: center;
  width: 327px;
  height: 70px;
  border-radius: 16px;
  background: #F1F2F5;
}

.NavBar .notifactions .message:nth-child(2) {
  position: absolute;
  margin-top: calc(10px + 70px);
}

.notifactions .message .avatar {
  width: 34px;
  height: 33px;
  background-color: #aaa;
  border-radius: 50%;
  margin: 20px 14px 20px 20px;
}

.notifactions .message .content .user {
  margin-bottom: 8px;
  font-size: 1.2em;
  font-weight: 600;
}

.notifactions .message .content .description {
  font-size: 1em;
}

.Container {
  display: flex;
}

.Container .SideBar {
  width: 19.45%;
  background-color: #F0F2F5;
}

.SideBar .list-menu {
  margin: 42px 0 0 20px;
}

.SideBar .list-menu .list-item {
  display: flex;
  align-items: center;
  height: 48px;
  border-radius: 8px;
  transition: linear 0.3s;
}

.list-menu li.list-item:not(:first-child) {
  margin-top: 10px;
}

.SideBar .list-menu .list-item:hover {
  background: #D9D9D9;
}

.SideBar .list-menu .list-item i {
  width: 36px;
  height: 36px;
  display: inline-block;
  font-size: 3.2rem;
  line-height: 36px;
  margin: 0 16px 0px 10px;
}

.SideBar .list-menu .list-item a {
  color: #000;
  font-size: 1.4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SideBar .list-menu .list-item.active {
  font-weight: 700;
}

.Body {
  width: 100vw;
}

.Body .Content {
  width: 100%;
}

.Container .Content .container {
  padding: 0px 16px 0 36px;
}

.Content .container .row-1 {
  display: flex;
  align-items: center;
}

.Content .container .row-1 .header {
  margin-right: auto;
  font-size: 3.2rem;
  font-weight: 700;
}

/* Search Component */
.search {
  position: relative;
  display: flex;
  align-items: center;
}

.custom-input {
  border: none;
  outline: none;
  border-radius: 16px;
  background: #F1F2F5;
  font-size: 1.5rem;
  color: #606770;
  padding: 0 15px;
  width: 277px;
  height: 40px;
  padding-left: 55px;
}

.custom-input::placeholder {
  color: #606770;
}

.fa-magnifying-glass {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.4rem;
  line-height: 30px;
  color: #606770;
}

.guest-status {
  padding: 7px 35px;
  border-radius: 8px;
  border: 1px solid #F00;
  color: #F00;
}

.guest-status.active {
  color: #2FC247;
  border-color: #2FC247;
}

.create {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 38px;
}

.create .custom-button {
  width: 143px;
  height: 40px;
  border-radius: 8px;
  background: #F1F2F5;
  border: none;
}

.custom-button:active {
  opacity: 0.5;
}

.Content .container .row-2 {
  margin-top: 16px;
  border-radius: 16px;
  background: #F9F9F9;
  display: flex;
}

/* box component */
.Content .row-2 .box {
  position: relative;
  border-radius: 4px;
  border: 1px solid #E4E4E7;
  background: #FFF;
  margin: 25px;
  width: calc(100% - 50px);
  min-height: 510px;
  /* max-height: 100vh; */
}

.Content .container .list .box {
  height: 500px;
  overflow-y: scroll;
}

.container .list .box.event-card {
  border: none;
  background: transparent;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 10px 30px;
  border-bottom: 1px solid #E4E4E7;
  text-align: center;
}

thead th {
  color: #71717A;
  font-size: 1.6rem;
  font-weight: 700;
}

thead {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #fff;
}

tbody td {
  color: #09090B;
  font-size: 1.6rem;
}

.list table tbody td {
  max-width: 208.78px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.menu-action {
  display: flex;
  justify-content: space-between;
}

.menu-action li {
  list-style: none;
}

.menu-action li a:active {
  opacity: 0.5;
}

.menu-action li {
  font-size: 3rem;
}

.menu-action li i {
  color: rgba(75, 85, 99, 1);
}

.box .box-content {
  margin: 13px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group:not(:first-child) {
  margin-top: 25px;
}

.form-group label {
  color: #71717A;
  font-size: 1.4rem;
  font-weight: 700;
}

.form-control {
  height: 56px;
  border-radius: 8px;
  background: #F1F2F5;
  border: none;
  border: 1px solid #ced4da;
  margin-top: 12px;
  transition: border-color 0.2s ease-in-out;
}

textarea {
  height: 150px;
  border-radius: 8px;
  background: #F1F2F5;
  border: none;
  margin-top: 12px;
  padding-top: 12px;

}

.form-control,
textarea {
  padding-left: 18px;
  box-sizing: border-box;
}

.select-guest {
  width: 150px;
  height: 56px;
  text-align: center;
  border-radius: 8px;
  background: #F1F2F5;
  border: none;
  margin-top: 12px;
}

.form-action {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 14px;
  margin-bottom: 20px;
  gap: 48px;
}

.form-action.profile {
  margin-top: 25px;
  margin-right: 0;
  position: unset;
  display: flex;
}

.change-pass {
  margin-right: auto;
}

.change-pass button {
  width: 150px;
  height: 56px;
  border-radius: 8px;
  border: 1px solid #E4E6EB;
  background: #E4E6EB;
  font-weight: bold;
}

.change-pass button:active {
  opacity: 0.5;
}

.btn {
  width: 150px;
  height: 56px;
  border-radius: 8px;
  border: 1px solid #E4E6EB;
  background: #E4E6EB;
  font-weight: bold;
}

.btn:not(:disabled):active {
  opacity: 0.5;
}

.change-pass {
  width: 150px;
  height: 56px;
  border-radius: 8px;
  border: 1px solid #E4E6EB;
  background: #E4E6EB;
  font-weight: bold;
}

select {
  appearance: none;
}

.flex-row {
  display: flex;
  align-items: center;
  margin-top: 25px;
}

.mb-input {
  margin-bottom: 161px;
}

.flex-row .input-date {
  width: 450px;
  height: 56px;
}

.input-file {
  padding: 16px !important;
}

.flex-row .form-group:not(:first-child) {
  margin-top: 0;
  margin-left: auto;
}

.event-card .list-event {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  gap: 20px;
}

.list-event .event-item {
  width: 225px;
  height: 165px;
  border-radius: 8px;
  border-top: 5px solid #000;
  background: #FFF;
  padding: 15px 15px 24px 15px;
  margin-bottom: 36px;
}

.list-event .time-now {
  color: #71717A;
  font-size: 1.2rem;
}

.list-event .event-title {
  margin-top: 8px;
  font-size: 1.5rem;
  font-weight: 700;
}

.text-truncate {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-event .event-description {
  max-width: 219px;
  margin-top: 14px;
  font-size: 1.2em;
  color: #5F5F68;
}

.list-event .due-date {
  display: flex;
  align-items: center;
  margin-top: 15px;
  font-size: 1.2rem;
  color: #71717A;
}

.list-event .due-date .fa-calendar {
  font-size: 2rem;
  margin-right: 12px;
}

/* Contribution */
.contribution {
  display: flex;
}

.contribution .form-group {
  min-width: 500px;
}

.contribution.detail .form-group {
  min-width: 482px;
}



.image-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4.5rem;
  color: #D9D9D9;
  width: 487px;
  height: 478px;
  margin-top: 28px;
  margin-left: 45px;
  border-radius: 8px;
  background: #F1F2F5;
  background-image: none;
}

.contribution .image {
  margin-top: 12px;
  width: 482px;
  height: 298px;
  border-radius: 8px;
  background: #F1F2F5;
}

.contribution .content-right {
  width: 516px;
  height: 636px;
  margin-top: 2px;
  margin-left: 35px;
  padding: 20px 17px 30px 17px;
  border-radius: 8px;
  background: #F9F9F9;
}

.date-time {}

.date-time td {
  padding: 0;
  border: none;
  text-align: left;
}

.date-time .label {
  display: inline-block;
  min-width: 130px;
  color: #000;
  font-size: 1.4rem;
  font-weight: 700;
  margin-right: 35px;
  margin-bottom: 24px;
}

.date-time .value {
  display: inline-block;
  color: #000;
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 24px;
}

.content-flex {
  display: flex;
}

.content-right .form-group {
  margin-top: 0;
  width: 416px;
  min-width: 416px !important;
}

.content-right .download {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  margin-top: 28px;
  margin-left: 10px;
  border-radius: 8px;
  background: #F1F2F5;
}

.content-right .download a {
  color: rgba(113, 113, 122, 1);
  font-size: 3rem;
}

.comments {
  margin-top: 30px !important;
}

.comments .list-comment {
  margin-top: 12px;
  width: 482px;
  height: 166px;
  border-radius: 8px;
  background: #F1F2F5;
  overflow: auto;
}

.list-comment .comment-item {
  margin: 18px 24px;
  padding: 10px 0 13px 16px;
  /* width: calc(100% - 48px); */
  width: 224px;
  height: 64px;
  border-radius: 16px;
  background: #D9D9D9;
}

.comment-item .user {
  color: #000;
  font-size: 1.2rem;
  font-weight: 700;
}

.comment-item .description {
  margin-top: 8px;
  color: #000;
  font-size: 1.2rem;
}

.comments .form-control {
  margin-top: 30px;
  width: 482px;
  height: 56px;
  border-radius: 8px;
  border: 1px solid #E4E6EB;
  background: #F1F2F5;
}

.comments button {
  display: inline-block;
  position: absolute;
  top: 45px;
  right: -42px;
  border: none;
  background: transparent;
}

.fa-paper-plane {
  display: inline-block;
  font-size: 2.5rem;
  color: rgba(113, 113, 122, 0.5);
}

/* Confirm */
.term-conditions {
  display: none;
  position: absolute;
  top: 139px;
  left: 145px;
  width: 500px;
  min-height: 430px;
  padding: 38px 32px 34px;
  border-radius: 8px;
  background: #F1F2F5;
  transition: linear 0.3s;
}

.term-conditions.active {
  display: block;
}

.term-conditions .title {
  color: #000;
  font-size: 2.8rem;
  font-weight: 700;
}

.term-conditions .content div {
  color: #000;
  font-size: 2rem;
}

.term-conditions .content span {
  margin-top: 12px;
  margin-bottom: 12px;
  color: #000;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
}

.term-conditions .form-action {
  display: flex;
  right: 18px;
}

.term-conditions .form-action .btn {
  color: #000;
  font-size: 1.6rem;
  font-weight: 400;
}

.term-conditions .form-action .btn:first-child {
  position: relative;
  right: 88px;
  background: #FFF;
}

/* Coodinator */

.coodinator .image-preview {
  width: 482px;
  height: 368px;
  margin-left: 0;
  margin-top: 12px;
}

.coodinator .form-group.update {
  margin-top: 0;
  margin-left: 45px;
}

.coodinator .form-group.update .form-control {
  width: 482px;
  height: 56px;
}

.coodinator .comments {
  margin-top: 25px !important;
}

.coodinator .list-comment {
  min-width: 500px;
}

.coodinator .comments .form-control {
  min-width: 500px;
}

.coodinator .comments button {
  right: 24px;
}

/* Manager */
.manager .image-preview {
  height: 259px;
}

.manager .download {
  border: none;
  text-align: center;
  line-height: 56px;
  width: 482px;
  height: 56px;
  flex-shrink: 0;
  margin-top: 53px;
  border-radius: 8px;
  background: #F1F2F5;
  color: #000;
  font-size: 1.4rem;
  font-weight: 700;
}

.manager .download:active {
  opacity: 0.5;
}

/* Error */
.valid {
  border-color: #28a745;
}

.invalid {
  border-color: #dc3545;
}

.error {
  margin-top: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #dc3545;
}

/* Ck editor */
.ck .ck-editor__main .ck-content {
  min-height: 250px;
}

.detail-ck-editor {
  padding-left: 18px;
  box-sizing: border-box;
  min-height: 250px;
  overflow: auto;
  max-height: 500px;
  border-radius: 8px;
  background: #F1F2F5;
  border: none;
  margin-top: 12px;
  padding-top: 12px;
}

/* Filter Event */
.filter-event {
  border: none;
  outline: none;
  border-radius: 8px;
  background: #F1F2F5;
  font-size: 1.5rem;
  color: #606770;
  padding: 0 15px;
  width: 155px;
  height: 40px;
}

/* Input File */
input[type="file"]::content {
  content: 'Upload';
}


/* Spinner */
.spinner {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.spinner span {
  font-size: 2rem;
  animation: fade 1s linear 0s infinite;
  padding-right: 1rem;
}

.half-spinner {
  width: 50px;
  height: 50px;
  border: 3px solid #03fc4e;
  border-top: 3px solid transparent;
  border-radius: 50%;
  animation: spin 0.5s linear 0s infinite;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Login 1 */
.login {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-image: url('bg_login1.png');
}

.login .main {
  display: flex;
  justify-self: center;
  background: #FFF;
  height: 100vh;
}

.login .logo {
  margin-top: 24px;
  height: 120px;
  background: #FFF;
}

.login .logo img {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 8px;
  height: 100%;
}

.login .logo {
  text-align: center;
  padding: 0 24px;
}

.login .login-form {
  margin-top: 24px;
  border-radius: 4px;
  padding: 0 24px;
}

.login .login-box {
  border-radius: 16px;
  border: 3px solid #C65F00;
  background: #FFF;
  padding: 23px 44px 35px;
}

.login .login-box h2 {
  text-align: center;
}

.login .form-login {
  margin-top: 13px;
}

.form-login .input-box {
  display: flex;
  flex-direction: column;
}

.form-login .input-box:first-child {
  margin-bottom: 8px;
}

.form-login .input-box label {
  color: #000;
  font-size: 1.4rem;
}

.form-login .input-box input {
  margin-top: 8px;
  border-radius: 4px;
  height: 48px;
  width: 300px;
  padding-left: 20px;
  border: 0.5px solid #000;
  background: #ECF1F6;
}

.forgot-pass {
  margin-top: 8px;
  text-align: right;
  font-size: 1.2rem;
}

.forgot-pass a {
  color: #C65F00;
}

.forgot-pass a:active {
  opacity: 0.5;
}

.select-form {
  margin-top: 8px;
  border-radius: 8px;
}

.select-form select {
  border: none;
  border-radius: 4px;
  background: #FF8311;
  color: #FFF;
  width: 100%;
  text-align: center;
  font-size: 1.4rem;
  padding: 10px 20px;
}

.login .form-submit {
  display: flex;
}

.login .btn-login {
  margin-left: auto;
}

.btn-login {
  margin-top: 20px;
  border: none;
  border-radius: 8px;
  background: #FF8311;
  color: #FFF;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 8px 36px;
}

.btn-login:active {
  opacity: 0.5;
}

.btn-guest {
  margin-top: 20px;
  border-radius: 8px;
  border-radius: 8px;
  border: 1px solid #FF8311;
  background: #FFF;
  color: #FF8311;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 8px 36px;
}

.btn-guest:active {
  opacity: 0.5;
}

.login hr {
  margin-top: 20px;
  width: 100%;
}

.btn-staff {
  margin-top: 20px;
  width: 100%;
  border-radius: 24px;
  background: #28E246;
  padding: 8px 36px;
  border: none;
}

.btn-staff:active {
  opacity: 0.5;
}

/* Login staff */
.login-staff {
  background: #F0F2F5;
  height: 100vh;
}

.login-staff .header {
  display: flex;
  height: 80px;
  background: #343A40;
}

.login-staff .header img {
  height: 80px;
  background: #FFF;
}

.login-staff .header .heading {
  line-height: 80px;
  margin-left: 70px;
  color: #FFF;
  font-size: 1.4rem;
  line-height: 80px;
}

.login-staff .content {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-staff .content .title {
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.05);
  width: 480px;
  height: 48px;
  line-height: 48px;
  text-align: center;
}

.form-staff {
  width: 480px;
  height: 240px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background: #FFF;
}

.form-staff .box {
  margin: 0 120px;
}

.form-staff .input-box {
  display: flex;
  width: 240px;
  flex-direction: column;
}

.form-staff .input-box:first-child {
  margin-top: 20px;
  margin-bottom: 8px;
}

.form-staff .input-box label {
  color: #212529;
  font-size: 1.4rem;
  font-weight: 500;
}

.form-staff .input-box input {
  margin-top: 4px;
  height: 32px;
  padding-left: 8px;
  border-radius: 8px;
  border: 1px solid #CED4DA;
  background: #FFF;
}

.button-staff {
  margin-top: 24px;
  display: flex;
  align-items: center;
  text-align: center;
}

.button-staff .btn {
  border-radius: 8px;
  border: 1px solid #FF8311;
  background: #FF8311;
  height: 32px;
  width: 100px;
}

.button-staff .btn:first-child {
  margin-right: auto;
  border: 1px solid #0068B1;
  background: #0068B1;
}